# Auto detect text files and perform LF normalization
* text=auto

*.php text
*.css text
*.scss text
*.js text
*.json text
*.md text

# Treat images/binaries correctly
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.svg text
*.ico binary
*.zip binary

# Exclude repository-only files from release archives created with git archive
.gitattributes export-ignore
.gitignore export-ignore
.github export-ignore